#arrowAnim {
  height: 0vh;
  width: 12.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.arrow {
  width: 2.5vh;
  height: 2.5vh;
  border: 0.5vh solid;
  border-color: var(--header-text-color) transparent transparent
    var(--header-text-color);
  transform: rotate(-45deg);
}

.arrowSliding {
  position: absolute;
  -webkit-animation: slide 3s linear infinite;
  animation: slide 3s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(3vw);
  }
  20% {
    opacity: 1;
    transform: translateX(1.8vw);
  }
  80% {
    opacity: 1;
    transform: translateX(-1.8vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-3vw);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(3vw);
  }
  20% {
    opacity: 1;
    transform: translateX(1.8vw);
  }
  80% {
    opacity: 1;
    transform: translateX(-1.8vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-3vw);
  }
}
