:root {
  /* https://colorhunt.co/palette/000000282a3a735f32c69749 */
  /* https://coolors.co/palette/000000-050303-090505-0c0808-0f0b0b-120e0e-130f0f-141010 */
  --header-height: 10vh;
  --header-color: #0c0808;
  --header-text-color: #ffc235;
  --body-color: #eee;
  --body-text-color: #000;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--header-color);
}

body {
  scroll-behavior: smooth;
  overflow-y: auto;
  background-color: var(--body-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  color: var(--body-text-color);
  font-weight: 500;
  min-height: 100vh;
}

.body {
  overflow: hidden;
}

a {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  word-break: break-word;
  color: var(--body-text-color);
  text-decoration: none;
}

h1 {
  font-family: 'Unbounded';
  color: var(--header-text-color);
  font-weight: 400;
  font-size: max(2.75vw, 2.5vh);
}

h2 {
  font-size: max(1.9vw, 2.5vh);
  font-weight: 900;
}

p {
  font-size: max(1vw, 2vh);
  font-weight: 400;
}

.week {
  justify-content: center;
  align-items: center;
  display: flex;
}

.response {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 0vh;
  margin-left: 20vw;
  margin-right: 20vw;

  padding-top: 7.5vh;
  padding-bottom: 7.5vh;
  padding-left: 5vw;
  padding-right: 5vw;

  background-color: white;
  box-shadow: 0px 1px 2.5px rgb(150, 150, 150);
  border-radius: 12px;
}

.pageNav {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
